<div class="different-posts">
    <header>
        <div class="stories-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1.25em" viewBox="0 0 24 24"><path fill="red" d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3"/></svg>
        </div>
        <h2>Our Stories</h2>
    </header>
    <div class="posts">
        <% for( let index = 0; index < posts.length; index++ ) { %>
            <div class="post-container">
                <div class="post-image" style="background-image: url('<%= posts[index].image %>'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 200px;">
                    <div class="post-type">
                        <span><%= posts[index].type %></span>
                    </div>
                </div>
                <div class="post-content">
                    <h6><%= posts[index].title %></h6>
                    <div class="post-footer">
                        <div class="post-author">
                            <span>BY: <%= posts[index].author %></span>
                        </div>
                        <div class="post-date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><path fill="black" d="M16 30a14 14 0 1 1 14-14a14 14 0 0 1-14 14m0-26a12 12 0 1 0 12 12A12 12 0 0 0 16 4"/><path fill="black" d="M20.59 22L15 16.41V7h2v8.58l5 5.01z"/></svg>
                            <span><%= posts[index].date %></span>
                        </div>
                        <div class="post-views">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 14"><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" d="M.5 7.08h2.19a.52.52 0 0 0 .45-.27l1.8-3.6a.49.49 0 0 1 .49-.27a.48.48 0 0 1 .43.35l2.23 7.42a.5.5 0 0 0 .46.36a.5.5 0 0 0 .45-.32l1.37-3.35a.51.51 0 0 1 .47-.32h2.66"/></svg>
                            <span><%= posts[index].views %> VIEWS</span>
                        </div>
                    </div>
                    <p><%= posts[index].description %></p>
                    <button>READ MORE</button>
                </div>
            </div>
        <% } %>
    </div>
</div>